/* NAVIGATION ELEMENTS */

.brand {
  height: 90px;
  position: relative;
  font-size: 35px;
  background-color: #FFF;
  margin-bottom: -20px;
  margin-top: 30px;
}

a#logo {
  position: relative;
  z-index: 1;
}

.registry a {
  color: green;
  position: relative;
}

/* MESSAGE SYSTEM */
.message-bar {
  .notice {
      background-color: rgba(255, 255,255, 0.5);
      font-size: 20px;
      text-align: center;
      padding: 5px;
      /*color: rgb(1,169,1);*/
      /*text-shadow()*/
  }


}