.navbar.navbar-default
  .container-fluid
    .navbar-header.pull-right
      = link_to "menu", menu_index_path
      = link_to "destinations", destinations_path
      = link_to "about", about_path
      = link_to "news", news_path
