.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand
        .brand
          = link_to "Kula", root_path
          = link_to "about", about_path
          =# link_to "menu", menu_path
          = link_to "news", news_path