.navbar.navbar-default
  .container-fluid
    .navbar-header
      = render 'shared/branding_bar'
      = link_to "about", about_path
      =# link_to "menu", menu_path
      = link_to "news", news_path