%header.bg-image
  =# video_tag("AsianDish.mp4",:controls => true, :autobuffer => true, class: "video-hero")
  .container
    .hero-intro-blurb
      %h1
        kula
      %p
        Sharing cultures through food

=# render 'dishes/featured_dishes'






