.container-fluid.featured-dishes
  .row
    - @dishes.each do |dish|
      = link_to dish do
        .dish-panel.col-md-4.col-sm-6.col-xs-12
          = image_tag("dish_shrimp.jpg")
          .dish-info
            = dish.name
            %br
            = dish.description