.container-fluid
  %h1
    Menu Items

  - @dishes.each do |dish|
    .dish-panel.img-thumbnail
      = image_tag("dish_shrimp.jpg")
      .dish-info
        = dish.name
        %br
        = dish.description


