.container
  .row
    .destination-container
      .destination-content
        .image-section
          = image_tag(destination.image, size: '300x200')
        .info-section
          .title= destination.name
      .dish-carousel-container
        %p Carousel
