/* COLOR PALETTE FOR MIXINS */

/* Default Site Colors :

Dark Purple
============
$color1: #000000;
$color2: #150713;
$color3: #2a0f26;
$color4: #3f1639;
$color5: #551c4c;
$color6: #6a235f;
$color7: #802a73;
$color8: #963086;
$color9: #ac369a;
light*/