.dish-panel {
  width: 330px;
  height: 250px;
  float: left;
  img {
    width: 330px;
  }
  .dish-info {
    border: 1px solid #999;
    padding: 5px;
    height: 75px;
    position: relative;
    border-top: none;
  }
}

.container-fluid.featured-dishes {
    margin-top: -360px;
}