.dish-panel {
  float: left;
  margin-bottom: 40px;
  img {
    width: 100%;
  }
  .dish-info {
    padding: 5px;
    position: relative;
    background-color: #FFF;
    box-shadow: 0px 1px 6px #E6E6E6;
  }
}

.container-fluid.featured-dishes {
}