.dish-panel {
  img {
    width: 100%;
  }
  .dish-info {
    height: 80px;
    padding: 5px;
    background-color: #FFF;

    box-shadow: 0px 1px 6px #E6E6E6;
  }
}

.container-fluid.featured-dish-wrapper {
  /*border: 10px solid #BBB;*/
  /*border-top: 20px solid #BBB;*/
  border: 10px solid rgba(73, 85, 95, 0.1); /* $steel */
  border-top: 50px solid rgba(73, 85, 95, 0.1); /* $steel */
   -moz-background-clip: border;
   -webkit-background-clip: border;
   background-clip: border-box;

   -moz-background-clip: padding;
   -webkit-background-clip: padding;
   background-clip: padding-box;

   -moz-background-clip: content;
   -webkit-background-clip: content;
   background-clip: content-box;
}

.container-fluid.featured-dishes {
  padding-left: 0px;
  padding-right: 0px;
}

/*Remove padding in featured items*/
.dish-panel.col-md-4.col-sm-6.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}

