/* HOME PAGE RELATED CSS */

.home-page-cover {
  background-image: url('jamaica_beach_cove.jpg');
}

.benefit {
  background-color: #F8F8F8;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}