/*Dark Purple
$color1: #000000;
$color2: #150713;
$color3: #2a0f26;
$color4: #3f1639;
$color5: #551c4c;
$color6: #6a235f;
$color7: #802a73;
$color8: #963086;
$color9: #ac369a;
light*/


/* Global style elements go here */
div#app-navigation {
  position: fixed;
  width: 100%;
  top: -30px;
  z-index: 100;
}
div#app-container {
  margin-top: 150px;
  min-height: 1200px;
}
.container-fluid.intro-copy {
    margin-top: 50px;
}
.benefit {
    background-color: #F8F8F8;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
}

.hero-image {
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.hero-background {
  background-position: center center;
  background-size: cover;
  margin-top: -85px;
  .hero-intro-blurb {
    opacity: 0.5;
  }
}

.jamaica-hero {
  background-image: url('jamaica_beach_cove.jpg');
}

.brazil-hero {
  background-image: url('brazil.jpg');
}

.home-page-cover {
  background-image: url('dish_shrimp.jpg');
}

video.video-hero {
  width: 100%;
  position: relative;
  /*top: -85px;*/
  top: -420px;
  z-index: -1;
}

.hero-intro-blurb {
  margin-top: 115px;
  text-align: center;
  h1 {
    color: #FFF;
    font-size: 15em;
  }
  p {
    color: #FFF;
    font-size: 2.5em;
  }
}

footer.site-wide {
    height: 200px;
    border-top: 2px solid #999;
    background-color: #F8F8F8;
}



body {
  /*padding-top:70px;*/
}


@media screen and (max-width: 1200px) {
    .hero-intro-blurb {
      font-size: 90%;
    }
  }
@media screen and (max-width: 1024px) {
    .hero-intro-blurb {
      font-size: 80%;
    }
  }

@media screen and (max-width: 970px) {
    .hero-intro-blurb {
      font-size: 70%;
    }
  }

@media screen and (max-width: 768px) {
    .hero-intro-blurb {
      font-size: 60%;
    }
  }
