@import 'mixins';

/* GLOBAL STYLE ELEMENTS GO HERE */

#app-navigation {
  position: fixed;
  width: 100%;
  top: -30px;
  z-index: 100;
}

#app-container {
  margin-top: 135px;
  min-height: 1200px;
}

.container-fluid.intro-copy {
  margin-top: 50px;
}

/* HERO ELEMENTS */

.hero-image {
  width: 100%;
  height: 400px;
  @include background_alignment;
}

.hero-intro-blurb {
  margin-top: 115px;
  text-align: center;
  h1 {
    font-size: 5em;
    @include default_headline_white_text;
  }
  p {
    font-size: 2.1em;
    @include default_headline_white_text;
  }
}

/* FOOTER */

footer.site-wide {
  height: 200px;
  border-top: 1px solid #FFF;
  background-color: #F8F8F8;
  background-image: url('light_noise_diagonal.png');
}

/* VIDEO */

video.video-hero {
  width: 100%;
  position: relative;
  top: -420px;
  z-index: -1;
}

/* RESPONSIVE TEXT */

@media screen and (max-width: 1200px) {
    .hero-intro-blurb {
      font-size: 90%;
    }
  }
@media screen and (max-width: 1024px) {
    .hero-intro-blurb {
      font-size: 80%;
    }
  }

@media screen and (max-width: 970px) {
    .hero-intro-blurb {
      font-size: 70%;
    }
  }

@media screen and (max-width: 768px) {
    .hero-intro-blurb {
      font-size: 60%;
    }
  }
