/* Global style elements go here */
div#app-navigation {
  position: fixed;
  width: 100%;
  top: -30px;
  z-index: 100;
}
div#app-container {
  margin-top: 150px;
  min-height: 1200px;
}
.container-fluid.intro-copy {
    margin-top: 50px;
    /*border: 1px solid #F00;*/
}
.benefit {
    background-color: #F8F8F8;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
}

.hero-intro {
  /*width: 100%;*/
}
.bg-image {
  background-image: url('dish_shrimp.jpg');
  background-position: center center;
  background-size: cover;
  height: 650px;
  margin-top: -85px;
}

video.video-hero {
  width: 100%;
  position: relative;
  /*top: -85px;*/
  top: -420px;
  z-index: -1;
}

.hero-intro-blurb {
  margin-top: 115px;
  text-align: center;
  h1 {
    color: #FFF;
    font-size: 15em;
  }
  p {
    color: #FFF;
    font-size: 2.5em;
  }
}

footer.site-wide {
    height: 200px;
    border-top: 2px solid #999;
    background-color: #F8F8F8;
}



body {
  /*padding-top:70px;*/
}

/* responsive text queries */
/*@media screen and (max-width: 992px) {
  .hero-intro-blurb,p,.btn,input,div,span,h4 {
    font-size: 90%;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .hero-intro-blurb,p,.btn,input,div,span,h4 {
    font-size: 90%;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
}*/
